@import "./base/colors";
@import "./base/fonts";
@import "./base/padding";


@import "./utils/breakpoints";

@import "./utils/mixins";
@import "./utils/placeholders.scss";
@import "./utils/animations";


@import "./base/titles";
@import "./components/image";
@import "./components/icons";
@import "./components/checkmarks";
@import "./components/buttons";

@import "./components/cards";
@import "./components/loader";


@import "./layout/sections";
@import "./layout/nav";
@import "./layout/containers";
@import "./layout/footer";
@import "./layout/header";
@import "./components/separator";


@import "./pages/menu__page";


body {
    @include box-sizing(100%, 100%);
    @include font-text(16px, 400, $font-color--main, $main-font);
    margin: 0;
}

.block__header{
        position: relative;
    }


// .input[checkbox]:checked ~ .icon-wrapper{

// }

.menu-link{
    content: " ";
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1;
}

.menu-label{
    content: " ";
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: 1;
    cursor: pointer;
}