@import "./base/colors";
@import "./base/fonts";

@import "./utils/mixins";
@import "./utils/placeholders.scss";

@import "./utils/animations";
@import "./components/image";
@import "./components/icons";
@import "./components/buttons";
@import "./components/cards";
@import "./base/sections";
@import "./layout/containers";
@import "./base/footer";
@import "./components/checkmarks";
@import "./base/header";



body {
    margin: 0;
    font-size: 16px;
    font-family: $main-font;
}













.active {
    position: relative;

    .icon{
        color: $primary-color;
    }

    &::before {
        content: " ";
        @include box-sizing(100%,100%, 20px, absolute);
        left: 0;
        top: 0;
        background-color: $primary-color;
        opacity: 0.2;
        z-index: 1;
    }
}




