
.container{
    @include flexbox(column, space-between);
    row-gap: 18px;
    @include tablet-only{
        @include box-sizing(100%, 100%);
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1%;
        row-gap: 25px;
    }
    
    @include desktop-only{
        @include box-sizing(100%, 100%);
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1%;
        row-gap: 25px;
        &--wrapper{
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &--header{
            flex-direction: row;
            text-align: left;
            overflow: hidden;
            width: 100%;
        }
    }
}

.menu-wrapper{
    width: 100%;
    @include desktop-only{
        flex-direction: row;
    }
}