
.footer {
    padding: 5%;
    background-color: rgb(53, 53, 53);
    @include desktop-only{
        padding: 2% 20%;
        height: 120px;
    }

    .company-title {
        @include font-title(20px, 400, white, $title-font);
        margin-bottom: 20px;
        @include desktop-only{
            text-align: center;
            font-size: 30px;
            margin:0;
            margin-bottom: 40px;
        }
    }

    &__menu {
        padding: 0;
        @include desktop-only{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }

        &__item {
            display: inline;

            &__link {
                @include flexbox(row, flex-start, center);
                text-decoration: none;
                color: white;

                .icon {
                    @include box-sizing(14px, 14px);
                    font-size: 14px;
                    margin-right: 12px;
                    align-self: baseline;
                }

                p {
                    margin-bottom: 10px;
                    margin-top: 0;
                }
            }


        }
    }

}