.main--galette .card__content__text__info, .main--galette .card__content__text__title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes fill-heart {
  100% {
    transform: translateY(-50%) rotateZ(540deg);
  }
}
.image-wrapper {
  position: relative;
  height: 170px;
  width: 100%;
  border-radius: 0;
}
.image-wrapper img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

.icon {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 0;
  font-size: 24px;
  align-self: center;
  overflow: hidden;
}
.icon .far.fa-heart {
  color: black;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.icon .far.fa-heart::after {
  content: " ";
  position: absolute;
  height: 200%;
  width: 200%;
  border-radius: 35%;
  background-color: white;
  bottom: -100%;
  left: -50%;
  bottom: 0;
  z-index: -1;
}
@media all and (min-width: 993px) {
  .icon .far.fa-heart:hover {
    cursor: pointer;
  }
  .icon .far.fa-heart:hover::after {
    animation: fill-heart 3s ease-in-out forwards;
  }
}
.icon .fas.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.icon .fas.fa-heart > .icon--heart__background {
  background-color: red;
  background-clip: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0;
  z-index: 0;
  top: 0;
  left: 0;
}

.btn--explore {
  position: relative;
  box-shadow: 0px 5px 16px #eaeaea;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  border-radius: 40px;
  padding: 15px 25px;
}
.btn--explore:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 16px black;
  border-radius: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}
.btn--explore:hover {
  cursor: pointer;
}
.btn--explore:hover:before {
  opacity: 0.3;
}
.btn--functionning {
  box-shadow: 0px 5px 16px #eaeaea;
  border: none;
  background: #f6f6f6;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 80px;
  width: 100%;
  border-radius: 20px;
}
.btn--functionning__icon-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50px;
  border-radius: 0;
}
.btn--functionning__icon-box .icon {
  font-size: 24px;
  width: 28px;
}
.btn--functionning__text {
  font-weight: bold;
}

.btn-wrapper {
  text-align: center;
  margin-top: 45px;
}

.active {
  position: relative;
}
.active .icon {
  color: #9356DC;
}
.active::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  left: 0;
  top: 0;
  background-color: #9356DC;
  opacity: 0.2;
  z-index: 1;
}

.card {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
@media all and (min-width: 993px) {
  .card {
    width: 45%;
  }
}
.card:hover {
  cursor: pointer;
}
.card.new::before {
  content: "Nouveau";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 25px;
  width: 80px;
  border-radius: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3a8266;
  background-color: #99E2D0;
  z-index: 1;
  top: 15px;
  right: 3%;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: white;
  min-height: 20%;
  padding: 18px 5%;
}
.card__content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.card__content__text__title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-bottom: 5px;
}
.card__content__text__location {
  margin: 0;
}

.main--galette {
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  padding-bottom: 65px;
}
.main--galette .menu {
  width: 100%;
  position: relative;
}
.main--galette .menu__content {
  padding: 0 4%;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
}
.main--galette .menu-section {
  padding: 0;
  margin-bottom: 50px;
}
.main--galette .main__header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  color: black;
  padding-top: 18px;
}
.main--galette .image-wrapper {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 0;
}
.main--galette .block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 16px;
}
.main--galette .card {
  opacity: 0;
  transform: translateY(50px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  height: 70px;
  background-color: white;
  animation: appear 3s;
  animation-fill-mode: forwards;
}
.main--galette .card__content {
  position: relative;
  height: 100%;
  width: 90%;
  border-radius: 0;
  padding: 0 5%;
  transition: width 1s;
  flex-wrap: nowrap;
  margin: 14px 0;
}
.main--galette .card__content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.main--galette .card__content__text__title {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
}
.main--galette .card__content__text__info {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.main--galette .card__content .price {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  align-self: flex-end;
}
.main--galette .card input {
  display: none;
}
.main--galette input:checked ~ .card__content {
  width: calc(90% - 60px);
}
.main--galette input:checked ~ .card__content > .card__content__text {
  width: 88%;
}

.menu-section__header {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu-section__header h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  margin: 0;
}
.menu-section__header::before {
  content: " ";
  position: absolute;
  height: 3px;
  width: 45px;
  border-radius: 0;
  background-color: #99E2D0;
  bottom: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-title {
  margin-bottom: 25px;
}

.section-functionning {
  padding: 0 5%;
  margin: 50px 0;
}
@media all and (min-width: 993px) {
  .section-functionning {
    width: 27%;
  }
}
.section-functionning .button--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 12px;
  row-gap: 18px;
}
@media all and (min-width: 993px) {
  .section-functionning .button--wrapper {
    row-gap: 1.5rem;
  }
}
.section-functionning .index {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -12px;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
}

.section {
  padding: 0 5%;
}

.section--restaurant {
  padding-top: 50px;
}
@media all and (min-width: 993px) {
  .section--restaurant {
    width: 45%;
    border-radius: 10px;
  }
}

.section--grey-bg {
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 18px;
}
@media all and (min-width: 993px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .container--wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px 0;
    width: 100%;
  }
  .container--header {
    flex-direction: row;
    text-align: left;
    overflow: hidden;
    width: 100%;
  }
}

.footer {
  padding: 5%;
  background-color: #353535;
}
@media all and (min-width: 993px) {
  .footer {
    padding: 2% 20%;
    height: 120px;
  }
}
.footer .company-title {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}
@media all and (min-width: 993px) {
  .footer .company-title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: 40px;
  }
}
.footer__menu {
  padding: 0;
}
@media all and (min-width: 993px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer__menu__item {
  display: inline;
}
.footer__menu__item__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
}
.footer__menu__item__link .icon {
  position: relative;
  height: 14px;
  width: 14px;
  border-radius: 0;
  font-size: 14px;
  margin-right: 12px;
  align-self: baseline;
}
.footer__menu__item__link p {
  margin-bottom: 10px;
  margin-top: 0;
}

.checkmark-wrapper {
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  visibility: hidden;
  right: 0;
  top: 0;
  transition: ease-out width 1s;
  overflow: hidden;
}
.checkmark-wrapper .checkmark-icon {
  color: white;
  font-size: 24px;
}

input:checked ~ .checkmark-wrapper {
  width: 60px;
  visibility: visible;
  z-index: 100;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .far.fa-heart::after {
  animation: fill-heart 2s ease-in-out forwards;
}
@media all and (min-width: 993px) {
  .checkbox:checked ~ .far.fa-heart::after {
    animation: none;
    opacity: 0;
  }
}

.main-header {
  background-color: #f6f6f6;
}
.main-header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  width: 100%;
  border-radius: 0;
  background-color: white;
}
.main-header .logo .company-title {
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: black;
}
.main-header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 0;
  background-color: #eaeaea;
  font-size: 18px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
}
.main-header .location .icon {
  font-size: 18px;
}
.main-header .header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 11%;
  z-index: 0;
}
.main-header .header-title__main {
  font-size: 24px;
  padding: 0 10%;
  z-index: 10;
}
.main-header .header-title__sub {
  z-index: 10;
}
.main-header--btn-wrapper {
  margin-top: 30px;
  padding-bottom: 50px;
  z-index: 10;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.carousel {
  display: flex;
  width: 55%;
  flex-direction: row;
  flex-wrap: no-wrap;
  position: relative;
  overflow: auto;
  scroll-snap-type: x mandatory;
  flex: none;
}

.carousel__item {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  z-index: 0;
}
.carousel__item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.carousel__item:nth-child(2) {
  background-color: green;
}

.carousel__item:nth-child(3) {
  background-color: blue;
}

/*# sourceMappingURL=styles.css.map */
