@keyframes fill-heart {
  100% {
    transform: translateY(-50%) rotateZ(540deg);
  }
}
.image-wrapper {
  height: 170px;
  width: 100%;
}
.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icon {
  position: relative;
  font-size: 24px;
  height: 24px;
  width: 24px;
  align-self: center;
  overflow: hidden;
}
.icon .i {
  position: absolute;
  top: 0;
  left: 0;
}
.icon .far {
  color: black;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.icon .far::after {
  content: " ";
  position: absolute;
  height: 200%;
  width: 200%;
  background-color: white;
  bottom: -100%;
  left: -50%;
  bottom: 0;
  border-radius: 35%;
  z-index: -1;
}
.icon .far:hover::after {
  animation: fill-heart 3s ease-in-out forwards;
}
.icon .fas {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.icon .fas > .icon--heart__background {
  position: absolute;
  background-color: red;
  background-clip: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn--explore {
  box-shadow: #eaeaea 0px 5px 16px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 24px;
  border-radius: 40px;
  padding: 15px 25px;
}
.btn--functionning {
  box-shadow: #eaeaea 0px 5px 16px;
  border: none;
  background: #f6f6f6;
  color: black;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 8%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 250px;
  border-radius: 10px;
  width: 100%;
}
.card.new::before {
  content: "Nouveau";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 80px;
  color: #3a8266;
  font-size: 12px;
  background-color: #99E2D0;
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 3%;
}
.card__content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  min-height: 20%;
  padding: 0 5%;
}
.card__content__text__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.card__content p {
  margin: 0;
}

.main--galette .card {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  height: 70px;
}
.main--galette .card__content {
  background-color: blue;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.main--galette .card__content__texte__title {
  margin: 0;
}
.main--galette .card input {
  display: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.section-title {
  margin-bottom: 25px;
}

.main-header {
  padding-bottom: 40px;
  text-align: center;
  background-color: #f6f6f6;
}
.main-header .icon {
  font-size: 18px;
  margin-right: 18px;
}
.main-header .company-title {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.main-header .header-title {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 11%;
}
.main-header .header-title__main {
  font-size: 20px;
}
.main-header .location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-size: 18px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
}

#functionning {
  padding: 0 5%;
  margin-top: 50px;
}
#functionning .button--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
#functionning i {
  margin-right: 25px;
  font-size: 24px;
}
#functionning p {
  font-weight: bold;
}
#functionning .index {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12px;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  height: 24px;
  width: 24px;
}

.active {
  position: relative;
}
.active i {
  color: #9356DC;
}
.active::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-color: #9356DC;
  opacity: 0.2;
  z-index: 1;
}

#restaurant {
  padding: 5%;
  margin: 50px 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: max-content;
  row-gap: 18px;
}

.footer {
  padding: 5%;
  margin-top: 65px;
  background-color: #353535;
}
.footer .company-title {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer__menu {
  padding: 0;
}
.footer__menu__item {
  display: inline;
}
.footer__menu__item__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
}
.footer__menu__item__link .icon {
  height: 14px;
  width: 14px;
  font-size: 14px;
  margin-right: 12px;
}
.footer__menu__item__link p {
  margin-bottom: 10px;
  margin-top: 0;
}

.checkmark-wrapper {
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.checkmark-wrapper i {
  color: white;
  font-size: 24px;
}

input:checked ~ .checkmark-wrapper {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
