.card {
    @extend %box-shadow-style;
    @include flexbox(column, flex-start);
    @include box-sizing(250px, 100%, 10px);
    overflow: hidden;
    background-color: $bg-color--card;
    opacity: 0;

    &:hover {
        cursor: pointer;

        &::after {
            content: " ";
            @include box-sizing(100%, 100%, 0, absolute);
            @include absolute-positionning;
            background-color: $bg-color--card;
            opacity: 0.1;
        }
    }

    &__content {
        @include flexbox(row, space-between, center);
        padding: 0 5%;

        &__text {
            @include flexbox(column, space-between);

            &__title {
                margin: 0;
            }

            &__info {
                margin: 0;
            }
        }
    }

    &--home {
        text-decoration: none;
        color: $black;

        @include tablet-only {
            width: 48%;
        }

        @include desktop-only {
            width: 32%;
        }

        &.new::before {
            content: "Nouveau";
            @include flexbox(row, center, center);
            @include box-sizing(25px, 80px, 0, absolute);
            @include font-text(12px, 400, $bg-color--new);
            background-color: $color-tertiary;
            box-shadow: $black 0px 6px 6px;

            z-index: 1;
            @include absolute-positionning(15px, auto);
            right: 3%;
        }

        .card__content {
            @include flexbox(row, space-between, center);
            overflow: hidden;
            min-height: 20%;
            padding: 18px 5%;

            &__text {
                &__title {
                    @include font-text(18px, bold);
                    margin-bottom: 5px;
                }
            }
        }

        .menu-link {
            content: " ";
            @include box-sizing(100%, 100%, 0, absolute);
            @include absolute-positionning;
            z-index: 1;
        }
    }

    &--menu {
        @include box-sizing(70px, 100%, 10px);
        transform: translateY(50px);
        align-content: center;
        z-index: 10;

        @include desktop-only {
            width: 100%;

            &:hover {
                &>.card__content {
                    width: calc(100% - 2 * 5% - 60px);
                }

                &>.card__content>.card__content__text {
                    width: calc(100% - 12%);
                }

                &>.icon-wrapper--checkmark {
                    width: 60px;
                    visibility: visible;
                    z-index: 100;

                    .icon--checkmark {
                        animation: rotate-icon 400ms forwards;
                    }
                }
            }
        }

        .card__content {
            @include box-sizing(100%, calc(100% - 2 * 5%));
            flex-wrap: nowrap;
            margin: 14px 0;

            transition: width 1s;

            &__text {
                @include box-sizing(100%, calc(100% - 2 * 5%));

                &__title {
                    @extend %hidden-text;
                }

                &__info {
                    @extend %hidden-text;
                }
            }

            .price {
                @include font-text(14px);
                align-self: flex-end;
            }
        }

        input {
            display: none;
        }

        input:checked~.card__content {
            width: calc(100% - 2 * 5% - 60px);
        }

        input:checked~.card__content>.card__content__text {
            width: calc(100% - 12%);
        }
    }

    .menu-label {
        content: " ";
        @include box-sizing(100%, 100%, 0, absolute);
        @include absolute-positionning;
        z-index: 110;
        cursor: pointer;
    }
}