.icon {
    &--checkmark {
        color: white;
        transform: rotateZ(-180deg);
    }

    &--heart {
        padding: 2px;
        position: absolute;
        @include absolute-positionning;

        &--filled {
            background: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;
            z-index: 50;
        }


        &--empty {
            background: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            z-index: 100;
        }
    }
}

.icon-wrapper {
    @include flexbox(row, center, center);
    font-size: 24px;
    overflow: hidden;
    align-self: center;

    &--heart {
        @include box-sizing(25px, 27px);

        @include desktop-only {
            &:hover {
                cursor: pointer;

                &>.icon-hider {
                    animation: fill-heart 3s ease-out forwards;
                }

                &>.icon--heart--empty {
                    animation: fadeout 500ms 2.5s forwards;
                }
            }

        }

        .icon-hider {
            @include box-sizing(200%, 200%, 35%, absolute);
            background-color: $bg-color--card;
            left: -50%;
            bottom: 0;
            z-index: 60;
        }

    }

    &--checkmark {
        @include box-sizing(100%, 0, 0, absolute);
        background-color: $color-tertiary;
        right: 0;
        top: 0;
        visibility: hidden;
        overflow: hidden;

        transition: ease-out width 1s;
    }
}