.loader-wrapper {
    @include box-sizing(100%, 100%, 0, absolute);
    @include flexbox(row, center);
    background-color: $bg-color--card;
    z-index: 999;

    animation: fadeout 1s forwards;
    .loader {
        @include box-sizing(100px, 100px, 100%, fixed);
        border: 16px solid $color-tertiary;
        border-right: 16px solid $color-primary;
        top: 40%;
        transform: translateY(-50%);
        
        animation: load 1.5s infinite ease-out;
    }
}
