.nav {


    .logo {
        @include flexbox(row, center, center);
        @include box-sizing(60px, 100%, 0, relative, $bg-color--card);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 800;
    }

    .location {
        @include flexbox(row, center, center);
        @include box-sizing(50px, 100%, 0, relative, $bg-color--location);
        @include font-text(18px, 600);
        column-gap: 18px;
        box-shadow: inset 0 7px 9px -7px $black;

    }

    .icon-arrow-wrapper {
        @include box-sizing(100%, 30px, 0, absolute);
        @include flexbox(row, center, center);
        @include absolute-positionning(0, 24px);
        text-decoration: none;
        color: $font-color--main;
        font-size: 18px;
        z-index: 3;

        &:hover {
            cursor: pointer;

            &>.icon {
                animation: translate-arrow 1s ease-out infinite;
            }

        }

    }
}