.section {
        padding: 0 5%;
    
    &--functionning {
        margin: 50px 0;

        .section__header {
            &::after {
                background-color: $white;
            }
        }


        // animation of the buttons from functionning section 
        .btn{
            @include animation-domino(1, 4, fadein, 1.5s, 500ms, 300ms);
        }

        @include tablet-only {
            width: calc(100% - 2 * 5% - 12px);
        }

        .button--container {
            @include flexbox(column, flex-start, center);
            margin-left: 12px;
            row-gap: 18px;

            @include tablet-only {
                @include flexbox(row, space-between, center);
                gap: 1.5rem;
                width: 100%;
            }

            @include desktop-only {
                @include flexbox(row, space-between, center);
                gap: 1.5rem;
                width: 100%;
            }
        }

    }

    &--restaurant {
        padding-top: 50px;

        @include desktop-only {
            border-radius: 10px;
            background-color: $bg-color--card;
            width: calc(100% - 2 * 5%);
            padding-top: 0;
        }

        // animation of the different restaurants 
        .card{
            @include animation-domino(1, 4, fadein, 4s, 200ms, 300ms);
        }
    }

    &--grey-bg {
        padding-bottom: 60px;
        background-color: $bg-color;

        @include desktop-only {
            background-color: transparent;
        }
    }
}

///////////////////////////////////////////////////////////
// menu page section menu 
.section--menu {
    padding: 0;
    margin-bottom: 50px;

    @include tablet-only {
        width: 48%;
    }

    @include desktop-only {
        width: 30%;
    }

    .image-wrapper {
        @include box-sizing(250px, 100%);
    }

    .section__content {
        @include flexbox(column, space-between);
        row-gap: 16px;
    }

    // animation menu 
    .card{
        @include animation-domino(1, 4, tile-apparition, 2s, 500ms, 200ms);
    }

    &__header {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &::before {
            content: " ";
            @include box-sizing(3px, 0, 0, absolute);
            background-color: $color-tertiary;
            bottom: 0;

            // animation of the underline below the section title 
            animation: underline-appear 1.5s 500ms forwards;
        }
    }
}