.btn{
    &--explore{
        @include button-layout(linear-gradient($secondary-color,$primary-color), white, 16px, 40px, 15px 25px );
    }
    &--functionning{
        @include button-layout($bg-color, black, 16px, 20px, 0 8% );
        @include flexbox(row, flex-start, center);
        @include box-sizing(80px, 100%, 20px);
        &__icon-box{
            @include flexbox(row, flex-start, center);
            @include box-sizing(100%, 50px);
            .icon{
                font-size: 24px;
                width: 28px;
                
            }
        }
        &__text{
            font-weight: bold;
        }
        .active {
            position: relative;
        
            .icon{
                color: $primary-color;
            }
        
            &::before {
                content: " ";
                @include box-sizing(100%,100%, 20px, absolute);
                left: 0;
                top: 0;
                background-color: $primary-color;
                opacity: 0.2;
                z-index: 1;
            }
        }
    }
}

.btn-wrapper{
    text-align: center;
    margin-top: 45px;
}