.card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 10px;
    width: 100%;

    &.new::before {
        content: "Nouveau";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 80px;
        color: rgb(58, 130, 102);
        // text-align: center;
        font-size: 12px;
        background-color: $tertiary-color;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 3%;
    }




    &__content {
        display: flex;
        justify-content: space-between;
        background-color: white;
        min-height: 20%;
        padding: 0 5%;

        &__text {
            &__title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }

        p {
            margin: 0;
        }

        
    }
}






.main--galette .card{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: center;
    height: 70px;
   
    &__content{
        background-color: blue;
        // align-items: flex-end;
        align-items: center;
        justify-content: space-between;
        height: 100%;
       
        &__texte{
            &__title{
                margin: 0;
            }
        }
        
    }

    input{
        display: none;
    }
   

}