.icon {
    position: relative;
    font-size: 24px;
    height: 24px;
    width: 24px;
    align-self: center;
    overflow: hidden;

    .i {
        position: absolute;
        top: 0;
        left: 0;
    }

    .far {
        color: black;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: " ";
            position: absolute;
            height: 200%;
            width: 200%;
            background-color: white;
            bottom: -100%;
            left: -50%;
            bottom: 0;
            border-radius: 35%;
            z-index: -1;
        }

        &:hover {
            &::after {
                animation: fill-heart 3s ease-in-out forwards;
            }
        }
    }



    .fas {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;

        &>.icon--heart__background {
            position: absolute;
            background-color: red;
            background-clip: transparent;
            background: linear-gradient($primary-color, $secondary-color);
            z-index: 0;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }





    }

}