.icon {
    &--checkmark {
        color: white;
        transform: rotateZ(-180deg);
    }

    &--heart {
        position: absolute;
        @include absolute-positionning;
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;
        z-index: 0;

        &--empty {
            background: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            z-index: 999;

            transition: opacity 500ms;
            transition-delay: 0;
        }
    }
}

.icon-wrapper {
    @include flexbox(row, center, center);
    font-size: 24px;
    overflow: hidden;

    &--heart {
        @include box-sizing(24px, 24px);

        @include desktop-only {
            &:hover {
                cursor: pointer;

                &>.icon-hider {
                    animation: fill-heart 3s ease-in-out forwards;
                }

                &>.icon--heart--empty {
                    opacity: 0;
                    transition-delay: 2.5s;
                }
            }
        }

        .icon-hider {
            @include box-sizing(200%, 200%, 35%, absolute);
            background-color: $bg-color--card;
            left: -50%;
            bottom: 0;
            z-index: 5;
        }

    }

    &--checkmark {
        @include box-sizing(100%, 0, 0, absolute);
        background-color: $tertiary-color;
        right: 0;
        top: 0;
        visibility: hidden;
        overflow: hidden;
        transition: ease-out width 1s;
    }
}
