.icon {
    @include box-sizing(24px, 24px);
    font-size: 24px;
    align-self: center;
    overflow: hidden;

    .far.fa-heart {
        color: black;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: " ";
            @include box-sizing(200%, 200%, 35%, absolute);
            background-color: white;
            bottom: -100%;
            left: -50%;
            bottom: 0;
            z-index: -1;
        }

        @include desktop-only{
            &:hover {
                cursor: pointer;
                &::after {
                    animation: fill-heart 3s ease-in-out forwards;
                }
            }

        }
        
    }



    .fas.fa-heart {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;

        &>.icon--heart__background {
            background-color: red;
            background-clip: transparent;
            background: linear-gradient($primary-color, $secondary-color);
            @include box-sizing(100%, 100%, 0, absolute);
            z-index: 0;
            top: 0;
            left: 0;
           
        }

    }

}