.separator{
    @include box-sizing(200px, 1px, 0, absolute);
    display: none;
    background-color: rgb(235, 235, 235);
    top: 50%;
    transform: translateY(-50%) translateX(-1.5rem);
    z-index: 10;
    @include desktop-only{
        display: inline-block;
    }
}
