$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$bg-color:rgb(246, 246, 246);
$bg-color--location:rgb(234,234,234);
$bg-color--footer: rgb(53, 53, 53);
$bg-color--card: rgb(255, 255, 255);
$box-shadow-color:rgb(198, 198, 198);

$font-color--footer: rgb(255, 255, 255);
$font-color--main: rgb(0, 0, 0);

$black:rgb(0, 0, 0);