$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-gradient: linear-gradient($color-secondary,$color-primary);

$bg-color:#f6f6f6;
$bg-color--location:#eaeaea;
$bg-color--footer: #353535;
$bg-color--card: #ffffff;
$bg-color--new: #3a8266;

$box-shadow-color:#c6c6c6;

$font-color--footer: #ffffff;
$font-color--main: #000000;

$black:#000000;
$white: #ffffff;

