
.footer {
    padding: 5%;
    // margin-top: 65px;
    background-color: rgb(53, 53, 53);

    .company-title {
        @include font-title(20px, 400, white, $title-font);
        margin-bottom: 20px;
    }

    &__menu {
        padding: 0;

        &__item {
            display: inline;

            &__link {
                @include flexbox(row, flex-start, center);
                text-decoration: none;
                color: white;

                .icon {
                    @include box-sizing(14px, 14px);
                    font-size: 14px;
                    margin-right: 12px;
                    align-self: baseline;
                }

                p {
                    margin-bottom: 10px;
                    margin-top: 0;
                }
            }


        }
    }

}