.main-header {
    position: relative;
    background-color: $bg-color;
    @include desktop-only{
        background-color: transparent;
    }
    padding: 0 11%;

    .header-title {
        @include flexbox(column, center, center);
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        z-index: 0;
        
        &__main {
            font-size: 24px;
            padding: 0 10%;
            z-index: 10;
        }
        &__sub{
            z-index: 10;
        }
    }

    &--btn-wrapper{
        margin-top: 30px;
        padding-bottom: 50px;
        z-index: 10;
    }


    .bg-img{
        @include box-sizing(100%, 100%, 0, absolute);
        left:0;
        top:0;
        display: none;
        @include desktop-only{
            display: inline;
        }
            

        img{
            @include box-sizing(100%, 100%, 0, absolute);
            object-fit: cover;
            left:0;
            top:0;
            filter: blur(8px);
            background-size: cover;
        }
        
    }
}

