@mixin button-layout($bg-color,$font-color,$font-size,$border-radius, $padding){
    box-shadow: $location-bg-color 0px 5px 16px;
    border: none;
    background: $bg-color;
    color: $font-color;
    font-size: $font-size;
    border-radius: $border-radius;
    padding: $padding;
}

@mixin box-sizing($height, $width, $border-radius:0, $position:relative) {
    position: $position;
    height: $height;
    width: $width;
    border-radius: $border-radius;
}

@mixin font-title($font-size, $font-weight:400, $color:black, $font-family:$main-font){
    font-size:$font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    color:$color;
}

@mixin flexbox($flex-direction, $justify-content, $align-items:stretch){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
