@mixin box-sizing($height, $width, $border-radius:0, $position:relative, $background:transparent) {
    position: $position;
    height: $height;
    width: $width;
    border-radius: $border-radius;
    background-color: $background;
}

@mixin font-text($font-size, $font-weight:400, $color:$font-color--main, $font-family:$main-font){
    font-size:$font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    color:$color;
}

@mixin flexbox($flex-direction, $justify-content, $align-items:stretch){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin absolute-positionning($top:0, $left:0) {
    top:$top;
    left: $left;
}

// create a delayed animation for different elements of a same class 
// used in section.scss
@mixin animation-domino($from, $to, $animation-name, $animation-duration, $animation-delay-base, $animation-delay-multipliyer){
    @for $i from $from through $to {
       &:nth-child(#{$i}) {
            animation: $animation-name $animation-duration;
            animation-fill-mode: forwards;
            animation-delay: $animation-delay-base + $i * $animation-delay-multipliyer; 
        }
    }
}
